# Виртуальное окружение
venv/

# Файлы конфигурации среды
.env
.env.*

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы логов
*.log

# Файлы SQLite базы данных
*.db

# Системные и IDE файлы
.DS_Store
.idea/
.vscode/

# Docker
*.tar
config/credentials.json
